<div id='body'>
  <div id='container'>
    <div class="wrapper">
      <div id="Header">
        <button class="logout float-right btn-dark" (click)="logOut()">
          Đăng xuất
        </button>
        <div class="Database">DTUaBot</div>
        <ul class='nav'>
          <li>
            <a id="id1" [routerLink]="['']" (click)="onClick('id1')">Quản lý câu hỏi</a>
          </li>
          <li>
            <a id="id2" [routerLink]="['report']" (click)="onClick('id2')">Báo cáo người dùng</a>
          </li>
          <li>
            <a id="id3" [routerLink]="['non-answer']" (click)="onClick('id3')">Câu hỏi chưa trả lời</a>
          </li>
          <li>
            <a id="id4" [routerLink]="['history']" (click)="onClick('id4')">Lịch sử báo cáo</a>
          </li>
          <button id="btnTrainBot" class="train-bot " (click)="trainBot()" [disabled]="isTrain">TRAIN BOT</button>

        </ul>

      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
