<div id='body'>
  <div id='container'>
    <div class="wrapper">
      <div id="Header">
        <div class="logout" (click)="logOut()">
          Đăng xuất
        </div>
        <div class="Database">DATABASE</div>
        <ul class='nav'>
          <li>
            <a title='Quản lý câu hỏi'>Quản lý câu hỏi</a>
          </li>
          <li>
            <a title="Báo cáo người dùng">Báo cáo người dùng</a>
          </li>
          <li>
            <a title="Câu hỏi chưa trả lời">Câu hỏi chưa trả lời</a>
          </li>
        </ul>
      </div>

      <div class="container-fluid border-3">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th class="Content-right text-center font-weight-bold">Từ khóa</th>
            <th class="Content-center text-center font-weight-bold">Câu hỏi</th>
            <th class="Content-left text-center font-weight-bold">Câu trả lời</th>
          </tr>
          </thead>
          <tbody>
          <tr class="body">
            <td class="columm">
              <div class="button1">
                <button class="button" type="button" data-toggle="modal" data-target="#layoutAddTag">+ Thêm từ khóa
                </button>
                <a class="key mt-3" *ngFor="let intent of listIntent">
                  <br><br>
                  <span (click)="onClick(intent.tag)">{{intent.tag}}</span>
                  <i class="fa fa-close float-right"></i>
                </a>
              </div>
            </td>
            <td class="columm">
              <div class="button1 ">
                <button class="button" type="button" data-toggle="modal" data-target="#layoutAddPattern">+ Thêm câu
                  hỏi
                </button>
                <a class="cauhoi mt-3" *ngFor="let pattern of intent.patterns">
                  <br><br>
                  <span>{{pattern}}</span>
                  <i class="fa fa-close float-right"></i>
                </a>

              </div>
            </td>
            <td class="columm">
              <div class="button1">
                <button class="button" type="button" data-toggle="modal" data-target="#layoutAddResponse">+ Thêm câu trả
                  lời
                </button>
                <a class="cautraloi mt-3" *ngFor="let response of intent.responses">
                  <br><br>
                  <span>{{response}}</span>
                  <i class="fa fa-close float-right"></i>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--hiện màn hình thêm từ khóa-->
<div class="modal fade" id="layoutAddTag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm tag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="tagForm" (ngSubmit)="onSubmitTag()">
          <fieldset>
            <div>
              thêm từ khóa
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Lưu">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<!--hiện màn hình thêm câu hỏi-->
<div class="modal fade" id="layoutAddPattern" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Thêm Pattern</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="patternForm" (ngSubmit)="onSubmitPattern()">

          <fieldset>
            <div>
              thêm từ khóa
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Lưu">

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<!--hiện màn hình thêm câu trả lời-->
<div class="modal fade" id="layoutAddResponse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Thêm Response</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="responseForm" (ngSubmit)="onSubmitResponse()">
          <fieldset>
            <div>
              thêm từ khóa
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Lưu">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

