<div class="container-fluid border-3 Content">
  <label class="float-right font-weight-bolder mt-3">
    <input class="float-right" type="text" [(ngModel)]="test" placeholder="Tìm kiếm">
  </label>

  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th class="Content-right text-center font-weight-bold">Từ khóa</th>
      <th class="Content-center text-center font-weight-bold">Câu hỏi</th>
      <th class="Content-left text-center font-weight-bold">Câu trả lời</th>
    </tr>
    </thead>
    <tbody>
    <tr class="body">

      <td class="columm">
        <div class="button1 overflow-auto">
          <button class="button" type="button" data-toggle="modal" data-target="#layoutAddTag">+ Thêm từ khóa
          </button>
          <a id="id{{intent.tag}}" class="key mt-3" *ngFor="let intent of listIntent | filter : test " (click)="onClick(intent.tag)">
            <br><br>
            <span> ({{intent.patterns.length}}|{{intent.responses.length}})</span>
            <span  > {{intent.tag}} </span>
            <i class="fa fa-close float-right" (click)="deleteTag(intent.tag)"></i>
          </a>
        </div>
      </td>
      <td class="columm">
        <div class="button1 overflow-auto">
          <button class="button" type="button" data-toggle="modal" data-target="#layoutAddPattern" [disabled]="isTag">+
            Thêm câu hỏi
          </button>
          <span class="cauhoi mt-3" *ngFor="let pattern of intent.patterns">
            <br><br>
            <span>{{pattern}}</span>
            <i class="fa fa-close float-right " (click)="deletePattern(pattern)"></i>
          </span>

        </div>
      </td>
      <td class="columm">
        <div class="button1 overflow-auto">
          <button class="button" type="button" data-toggle="modal" data-target="#layoutAddResponse" [disabled]="isTag ">
            +
            Thêm câu trả
            lời
          </button>
          <span class="cautraloi mt-3" *ngFor="let response of intent.responses">
            <br><br>
            <span>{{response}}</span>
            <i class="fa fa-close float-right " (click)="deleteReponse(response)"></i>
          </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!--hiện màn hình thêm từ khóa-->
<div class="modal fade" id="layoutAddTag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm tag mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="tagForm" (ngSubmit)="onSubmitTag()">
          <fieldset>
            <div>
              <input id="tagIn" class="form-control" type="text" formControlName="tag" (change)="checkAdd()">
            </div>
            <br>
            <div *ngIf="isAddTag" class="badge-danger">
              Tag đang được để trống hoặc đã tồn tại
            </div>
            <br>
            <input class="btn btn-lg btn-dark btn-block" [disabled]="isAddTag" type="submit" value="Lưu">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<!--hiện màn hình thêm câu hỏi-->
<div class="modal fade" id="layoutAddPattern" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Thêm câu hỏi tag '{{intent.tag}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="patternForm" (ngSubmit)="onSubmitPattern()">

          <fieldset>
            <div>
              <input class="form-control" type="text" formControlName="pattern">
            </div>
            <br>
            <input class="btn btn-lg btn-dark btn-block" type="submit" value="Lưu" [disabled]="patternForm.invalid">

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<!--hiện màn hình thêm câu trả lời-->
<div class="modal fade" id="layoutAddResponse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Thêm câu trả lời tag '{{intent.tag}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="responseForm" (ngSubmit)="onSubmitResponse()">
          <fieldset>
            <div>
              <input class="form-control" type="text" formControlName="response">
            </div>
            <br>
            <input class="btn btn-lg btn-dark btn-block" type="submit" value="Lưu" [disabled]="responseForm.invalid">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

