<div class="container-fluid border-3">
  <table class="table table-striped table-sm mt-3 border" style="font-size: 12px;">
    <thead>
    <tr>
      <th>ID</th>
      <th>Thời gian</th>
      <th>Câu hỏi chưa trả lời</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let nonAnswer of listNonAnswer">
      <tr>
        <td>{{nonAnswer.id}}</td>
        <td>{{nonAnswer.timeReport}}</td>
        <td>{{nonAnswer.question}}</td>
        <td>
          <button class="btn btn-sm btn-warning mr-3" (click)="delete(nonAnswer.id)">Xóa</button>
          <button class="btn btn-sm btn-warning mr-3" (click)="onClick(nonAnswer.id,nonAnswer.question)" type="button" data-toggle="modal" data-target="#layoutAdd">Trả lời</button>

        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>


<!--hiện màn hình thêm intent-->
<div class="modal fade" id="layoutAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm intent mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="intentForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div>
              <div class="form-group">
                <input formControlName="tagStr" class="form-control" placeholder="Tag" type="text">
              </div>
              <div class="notice badge-danger" role="alert"
                   *ngIf="intentForm.get('tagStr').invalid && intentForm.get('tagStr').touched">
                Tag đang được để trống hoặc đã tồn tại
              </div>
              <br>
              <div class="form-group">
                <input formControlName="patternStr" class="form-control" placeholder="Patterns" type="text">
              </div>
              <div class="notice badge-danger" role="alert"
                   *ngIf="intentForm.get('patternStr').invalid && intentForm.get('patternStr').touched">
                Câu hỏi đang được để trống
              </div>
              <br>
              <div class="form-group">
                <input formControlName="responseStr" class="form-control" placeholder="Responses" type="text">
              </div>
              <div class="notice badge-danger" role="alert"
                   *ngIf="intentForm.get('responseStr').invalid && intentForm.get('responseStr').touched">
                Câu trả lời đang được để trống
              </div>
              <br>
            </div>

            <input class="btn btn-lg btn-dark btn-block" type="submit" value="Lưu" [disabled]="intentForm.invalid">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
