.Content {
  position: relative;
  display: block;
  width: auto;
  background: white;
  height: 550px;
  border: 1px solid #7e000c;
  overflow-y: scroll;
}

button {
  color: white;
  background: #7e000c;
  color: #fff;
  font-size: 11px;

}

body1 {
  float: center;
}


